* {
  margin: 0;
  padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(248, 203, 0, 1);
  }
  
  .searchHeader li {
    float: left;

  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
  }

  .form-search{
        background-color: rgba(248, 203, 0, 1);
        padding-left:245px;
  }

  .logo{
    color:white;
    font-size:27px;
    padding-right:42px;
  }

  a {
     color: inherit;
     text-decoration: none;
   } 

   .top-nav{
    background-color: rgba(248, 203, 0, 1);

     padding-left:150px;
     padding-right:150px;
     padding-top:20px;

   }

   .search-input{
     height:40px;
     width:735px;
   }

   .search-btn{
     color:white;
     background:#6364d8;
     border-color:#6364d8;
     padding:8px;
     border-radius: 10%;
   }

   .search-form{
     padding-bottom: 10px;
   }


   .searchHeader{
     padding-bottom: 20px;
   }


   #city{
    color:#6364d8;
    padding-right:50px;
  }

  #phone{
    display: block;
    text-align: center;
    padding: 14px 50px ;
    text-decoration: none;
    font-weight:bold;

  }

  .column-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width:250px;
    position:absolute;
    top:98px;
    left:110px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.05);
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
  }

  
  .column-list li{
    font-size:19px;
    padding-bottom:10px;
  }

  .shop-section-li{
    font-weight:bold;
  }

  .categories-top{
    color:#a3a3a3;
  }

  .hovered-section{
    color:#f8cb00;
  }

  .upper-padding{
    padding-top:10px;
  }