* {
  margin: 0;
  padding: 0;
}
.flex-header{
  height:6rem;
  font-size:1.1rem;
  padding-top:2%;
  background-color: #f8cb00;
  font-weight: bold;

}

.container{
  display:flex;
  width:100%;
  /* flex-wrap: wrap; */
}

.container-left{
  display:flex;
  flex-grow:1;
  flex-wrap: wrap; 
  background-color:red;
  padding-left:5%
}

.container-right{
  display:flex;
  flex-grow:3;
  background-color:purple;
  flex-wrap:wrap;
  padding-right:5%;

}

.upper-right-container{
  display:flex;
  background-color:green;
  width:100%;
  flex-wrap:wrap;
}
.navbar-left-container{
  background-color: #f8cb00;

}
.navbar-right-container{
  background-color: #f8cb00;

}
.lower-right-container{
  display:flex;
  background-color: #f8cb00;
  width:100%;
  flex-wrap: wrap;
}

.box1{
  display:flex;
  background-color: #f8cb00;
  justify-content: center;
  text-align: center;
}

.box2{
  display:flex;
  justify-content: space-between;
  flex-grow:1;
  background-color: red;

}
.box3{
  background-color: green;
  flex-grow:1;

}
.box4{
  display:flex;
  flex-grow:2;
  background-color: blue;
  justify-content: flex-start;
  align-content: flex-start;
}
.box4 div{
  padding-left:1rem;
}


.logo{
  color:white;
  font-size:2rem;
}

.city{
  color:#6364d8;
}