* {
  margin: 0;
  padding: 0;
}

.container{
  display:flex;
}

.container-left{
  display:flex;

  width:30%;
  flex-wrap: wrap;

}

.container-right{
  display:flex;

  width:70%;
  flex-wrap: wrap;
}
.header-section{
  background-color: rgba(248, 203, 0, 1);

}
.box1{
  display:flex;
  width:100%;
  background-color: rgba(248, 203, 0, 1);
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.box2{
  display:flex;
  width:50%;
  background-color: rgba(248, 203, 0, 1);
  justify-content: space-around;
  font-weight: bold;

}

.box3{
  display:flex;
  width:50%;
  background-color: rgba(248, 203, 0, 1);
  padding-bottom: 1rem;
  justify-content: flex-start;
  font-weight: bold;


}
.box3 div{
  padding-right:1rem;
}

.box4{
  display:flex;
  width:100%;
  background-color: rgba(248, 203, 0, 1);
}

.logo{
  color:white;
  font-size:2rem;
}

.top-nav-right{
  font-size:1.2rem;
}

.search-input{
  height:3rem;
  width:50rem;
}
.search-btn{
  color:white;
  background:#6364d8;
  border-color:#6364d8;
  height:3rem;
  padding:8px;
  border-radius: 10%;
}

.container-top-padding{
  padding-top:1.5rem;
}