
* {
    margin: 0;
    padding: 0;
  }

.menu-header{
    background-color: #f8cb00;
    font-weight: 500;
    width:100%;
    font-size:20px;
    padding-top:30px;
  }
  
  .container{
    display: flex;

    max-width:1200px;
    margin:0 auto;
    align-items: flex-start;
    /* flex-wrap: wrap; */
  }

  .container-flex{
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .col-1{
      display:flex;
      width:25%;
      background-color: #f8cb00;
      flex-wrap: wrap;

  }

  .col-2{
    display:flex;
    width:75%;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.body-col-1{
    display:flex;
    width:25%;
    flex-wrap: wrap;

}

.body-col-2{
  display:flex;
  width:75%;
  justify-content: flex-end;
  flex-wrap: wrap;

}

.div-top{
    display:flex;
    width:100%;

    background-color: #f8cb00;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom:20px;

}

.div-bottom{
    display:flex;
    width:100%;
    background-color: #f8cb00;
    flex-wrap: wrap;
}

.box1{
    display:flex;
    justify-content: space-between;
    background-color: #f8cb00;
    flex-grow: 2;
    flex-wrap: wrap;

}

.box2{
    display:flex;
    flex-grow:2;
}

.box3{
    display:flex;
    justify-content: flex-end;
    background-color: #f8cb00;
    flex-grow:2;
    flex-wrap: wrap;

}

.box3 div{
    padding-left:10px;
}

.logo{
    font-size:24px;
    color:white;
}

.search-form{
    width:100%;
    padding-bottom:10px;
}
.search-input{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    width:89%;
}

.search-btn{
    color:white;
    background:#6364d8;
    border-color:#6364d8;
    padding:15px;
    border-radius: 10%;
  }

  .search-input{
    background: url("../images/search.png") left no-repeat;
    background-color:white;
  }


  .body-content{
    /* background-color: red; */
    font-weight: 500;
    width:100%;
    font-size:20px;
    padding-top:40px;
  }

  .left-body-nav{
      width:100%;
      padding-left:30px;
      transform:translateX(-30px)
      translateY(-100px);
  }
  .column-list{
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    width:100%;
    /* position:absolute; */
  }

  .shop-section-li{
    font-weight:bold;
  }
  
  .categories-top{
    color:#a3a3a3;
  }
  
  .hovered-section{
    color:#f8cb00;
  }
  


  .ads img{
    max-width:90%;
    max-height:100%;
  }


  .brand-menu{
    display:flex;
    width:100%;
    flex-wrap: wrap;

  }

  .upper-brand-menu{
    display: flex;
    width:100%;

    justify-content: space-between;
    align-content: space-between;

    flex-wrap: wrap
  
  }
  .lower-brand-menu{
    display: flex;
    width:100%;

    flex-wrap: wrap
  }


  .item-type{
    font-size:28px;
    font-weight: 500;
  }

  .arrow-section{
      font-size:16px;
  }






  .lower-brand-menu{
    display: flex;
  
    width:100%;
    justify-content: space-between;
    font-size:1.1rem;
    flex-wrap: wrap
  
  }
  .product-selection-details{
    display: flex;
    flex-grow:1;
    justify-content: space-between;
  }
  
  .sort{
    display:flex;
    flex-grow:5;
    justify-content: flex-end;
  }

  div span{
    color:#6364d8;
  }


















  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
    
   }
   .flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
  
  
   }
   .product-image{
    width:150px;
    height:150px;
   }
  
   .product-description{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
   }
   .product-price{
    font-size: 16px;
    font-weight: 700;
    text-align:center;
    color: rgb(255, 211, 0)
  }



  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* //CSS */
    

    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* //CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* //CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* //CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* //CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* //CSS */
    
  }