* {
  margin: 0;
  padding: 0;
}


.flex-header{
  display:flex;
  background-color:yellow;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top:1em;
}
.top-nav{
  display:flex;
  width:80%;
  background-color:green;
  flex-direction: row;
  font-size:1.1rem;
  font-weight: bold;


}

.box1{
  display: flex;
  background-color:red;
  justify-content: flex-end;
  flex-grow: 2;

}
.box2{
  display:flex;
  background-color:purple;
  justify-content: space-around;
  align-items: flex-end;
  flex-grow: 3;
  

}
.box3{
  display: flex;
  background-color:magenta;
  justify-content: space-around;
  flex-grow: 2;
  align-items: flex-end;

}



.bottom-nav{
  display: flex;
  width:100%;
  background-color:blue;
}


.logo{
  color:white;
  font-size:2em;
}